#content_accesories .accesories_frame li img {
    border: 1px solid #eee;
}
#content_accesories h3 {
    font-size: 12px;
    position: absolute;
    right: 0;
    left: 0;
    top: -20px;
    bottom: 0;
    width: 100px;
    margin: 0 auto;
    background: #009ad0 linear-gradient(to bottom, #009ad0 0%, #007ab7 100%) repeat-x scroll 0 0;
    height: 20px;
    color: white;
    font-style: italic;
    line-height: 20px;
    font-family: georgia;
}
#content_accesories {
    background: rgba(255, 255, 255, 0.65) none repeat scroll 0 0;
    left: 0;
    margin: 140px 0 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 0;
}
#content_accesories .accesories_frame li h5 a {
    font-size: 11px;
    max-width: 20px;
    position: relative;
    top: -10px;
}
#content_accesories .accesories_frame li {
    float: left;
    height: 130px;
    margin: 0 3px 3px -20px;
    text-align: center;
    width: 100px;
    overflow: hidden;
}
#content_accesories .accesories_frame {
    margin: 2px -4px 0 20px;
}
.product-container:hover #content_accesories{
   margin: 100px 0 0;
}
