<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>accesoriesonlist</name>
	<displayName><![CDATA[Product Accesories on List]]></displayName>
	<version><![CDATA[1.1.0]]></version>
	<description><![CDATA[Module displays product accesories on list]]></description>
	<author><![CDATA[ventura]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>